:root {
    --color: #1DA1F2;
}

body {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 70px;
}

.card {
    display: grid;
    background: linear-gradient(#3f87a6, #f69d3c);
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    border: 1px solid #3f87a6;
    border-radius: 1rem;
    width: 280px;
    height: 370px;
    max-width: 600px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

.image {
    border-radius: 50%;
    margin: 1rem auto;
    width: 150px;
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    grid-column: 1/2;
    
}

.name {
    margin-block-start: 0;
    margin-block-end: 0;
}

.goal {
    margin-block-start: 0;
    margin-block-end: 0;
}

.progress {
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
}

@media (max-width: 700px) {
    .card {
        max-width: 80%;
    }
    h1 {
        font-size: 50px;
    }
}